/* @font-face Regel für die Regular-Version */
@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-Regular.woff2') format('woff2'),
       url('./fonts/Metropolis-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* @font-face Regel für die Medium-Version */
@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-Medium.woff2') format('woff2'),
       url('./fonts/Metropolis-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* @font-face Regel für die SemiBold-Version */
@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-SemiBold.woff2') format('woff2'),
       url('./fonts/Metropolis-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* @font-face Regel für die Bold-Version */
@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-Bold.woff2') format('woff2'),
       url('./fonts/Metropolis-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Verwendung der Schriftart */
body {
  font-family: 'Metropolis', sans-serif;
}



.animate_infinite {
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  animation-iteration-count: infinite;
}

.topmenu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 70;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  letter-spacing: 1px;
  font-size: 1.1em;
}
.topmenu li {
  display: inline-block;
  margin: 10px 0;
}
.topmenu a {
  color: #fff;
  padding: 0 1.1em 1.1em;
}

.fp-overflow {
  height: 100%;
}
.fp-overflow > .container-fluid {
  height: 100%;
}
.fp-overflow > .container-fluid > .row {
  height: 100%;  
}

#fp-nav ul li a span, #menu-line, .fp-slidesNav ul li a span {
  background: #fff;
}
.fp-slidesNav.fp-bottom {
  text-align: center;
  bottom: 0.6rem;
}


.my-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  width: 70px;
  height: 90px;
  z-index: 99;
  -webkit-appearance: none;
  background: 0 0;
  border: 0;
  outline: 0;
}
.my-arrow.left {
  left: 35px;
}
.my-arrow.right {
  right: 35px;
}


.team-intro .text-column,
.team-members .text-column,
.studio-intro .text-column {
  display: flex;
  align-items: center;
}

/* team intro */
/* ------------------------------------------------------------------------- */
.team-intro {
  background-color: #424242;
}
.team-intro h1 {
  font-size: 3.5rem;
}
.team-intro .text-wrapper {
  padding: 6rem 3rem 3rem 3rem;
  color: #ccc;
}
.team-intro .img-col-bg {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../about/teamintro.jpg');
}
.team-intro .img-col-bg .logo {
  position: absolute;
  top: 1.5rem;
  top: 10%;
  /* top:  calc(50% - 40px); */
  left: -40px;
  width: 80px;
  height: 80px;
  z-index: 1;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 50%;
}
.team-intro-red {
  background-color: #f25a59;
}
.team-intro-red h1 {
  -webkit-text-stroke: 2px #eee;
  text-stroke: 2px #eee;
}
.team-intro-red .text-wrapper {
  color: #eee;
}


/* team members */
/* ------------------------------------------------------------------------- */
.team-members {
  background-color: #000;
}
.team-members .text-wrapper {  
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 3rem;
  margin-top: 5rem;
  margin-right: 7rem;
  color: #ccc;
}
.team-members .text-wrapper h1 {
  font-size: 2.5rem;
}
.team-members .text-wrapper .name {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
}
.team-members .text-wrapper .position {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
/* img qr-code logo */
.team-members .image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}
.team-members .img-left {
  flex-shrink: 0;
  width: 110%;
  /* min-width: 100%;
  min-height: 100% */
}
.team-members .qr-code-wrapper {
  position: absolute;
  bottom: 3rem;
  right: 1rem;
  z-index: 5;
}
.team-members .qr-code-wrapper img {
  width: 100px;
}
.team-members .img-col {
  position: relative;
}
.team-members .img-col .logo {
  position: absolute;
  top: 2rem;
  width: 80px;
  height: 80px;
  left: -30px;
  z-index: 1;
}
.team-members .img-col .logo.right {
  left: auto;
  right: -30px;
}


/* studio intro */
/* ------------------------------------------------------------------------- */
.studio-intro {
  background-color: #424242;
}
.studio-intro h1 {
  font-size: 3.5rem;
}
.studio-intro .text-wrapper {
  padding: 6rem 3rem 3rem 3rem;
  color: #ccc;
}
.studio-intro .img-col-bg {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../about/studios-intro.jpg');
}
.studio-intro .img-col-bg .logo {
  position: absolute;
  top: 1.5rem;
  width: 80px;
  height: 80px;
  right: 50%;
  right: calc(50% - 40px);
  z-index: 1;
}

/* studios */
/* ------------------------------------------------------------------------- */
.fp-overflow > .studios {
  height: 100%;  
}
.studios {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.studios .logo {
  position: absolute;
  top: 1.5rem;
  width: 80px;
  height: 80px;
  right: 50%;
  right: calc(50% - 40px);
  z-index: 1;
}

.studios .text {
  font-size: 1.2em;
  color: #eee;
}

/* studio a */
.studioa {
  background-image: url('../about/studioa.jpg');
}
.studioa .text {
  padding-top: 7rem;
  padding-left: 4rem;
  max-width: 35%;
}
.studioa h1 {
  font-size: 3.5rem;
}
.studioa .text p {
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}

/* studio outro */
/* ------------------------------------------------------------------------- */
.studio-outro {
  background-color: #424242;
}
.studio-outro h1 {
  font-size: 3.5rem;
}
.studio-outro .text-wrapper {
  padding: 6rem 3rem 3rem 3rem;
  color: #ccc;
}
.studio-outro .img-col-bg {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../about/studioentrance.jpg');
}
.studio-outro .img-col-bg .logo {
  position: absolute;
  top: 1.5rem;
  width: 80px;
  height: 80px;
  right: 50%;
  right: calc(50% - 40px);
  z-index: 1;
}