


.tszLogo {
  height: 90px;
}
.clientLogos {
  align-content: center;
}
.mainrowwrapper {
  height: 100vh;
  position: relative;
}
.myFooter {
  /*background-color: rgba(0,0,0,0.6); footer balken */
  /* position: absolute;
  width: 100%;
  bottom: 0;
  height: 12vh;
  color: white; */  
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 45px;
  color: white;
}
.footerArrow {
  position: relative;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background-color: #f0575a;
  border-radius: 45px;
  text-align: center;
}
.footerArrow svg {
  position: absolute;  
  left: 36px;
  top: 12px;
  fill: #FFF;
  opacity: 1;
  transition: opacity 1s;
}
.footerArrow .logoSmall {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 85px;
  opacity: 0;
  transition: opacity 1s;
}
.reveal {}
.active {
}

.myFooter.active .footerArrow svg {
  opacity: 0;
  transition: opacity 1s;
}
.myFooter.active .footerArrow .logoSmall {
  opacity: 1;
  transition: opacity 2s;
}



@media (min-width: 2001px) {
  .mainTitle {
    font-size: 5.5rem;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
  }
}
@media (max-width: 2000px) {
  .mainTitle {
    font-size: 4rem;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
  }
}
@media (max-width: 768px) {
  .mainTitle {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
  }
}
@media (max-width: 320px) {
  .mainTitle {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
  }
}
.mainTitleWrapper {
  padding-top: 18vh;
}
.mainTitle span {
  color: transparent;
  animation: blur 3s ease-out infinite;
  -webkit-animation: blur 3s ease-out infinite;
}
@keyframes blur {
  0%	{text-shadow:  0 0 100px #fff; opacity:0;}
  20%	{text-shadow:  0 0 90px #fff;}
  45%	{opacity: 1;}
  60%	{text-shadow:  0 0 0px #fff;}
  80%	{text-shadow:  0 0 0px #fff;}
  90%	{opacity: 1;}
  95%	{text-shadow:  0 0 90px #fff;}
  100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}
@-webkit-keyframes blur {
  0%	{text-shadow:  0 0 100px #fff; opacity:0;}
  20%	{text-shadow:  0 0 90px #fff;}
  45%	{opacity: 1;}
  60%	{text-shadow:  0 0 0px #fff;}
  80%	{text-shadow:  0 0 0px #fff;}
  90%	{opacity: 1;}
  95%	{text-shadow:  0 0 90px #fff;}
  100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}