.tszLogo {
  height: 90px;
}
.clientLogos {
  align-content: center;
}
.mainrowwrapper {
  height: 100vh;
  height: 100svh;
  position: relative;
}

.mainContentGrid {
  display: grid;
  grid-template-rows: 1fr 120px;
  height: 100%;
}

.footerContainer {
}

.socialIcons {
  font-size: 2.5em;
}
.socialIcons a {
  color: #FFF;
  margin-right: 0.4em;
}
.socialIcons a:last-child {
  margin-right: 0;
}

.zlogo {
  text-align: center;
}

.zlogo .logoSmall{
  width: 85px;
}


@media (min-width: 992px) {
  .mainTitleWrapper {
    text-align: center;
  }
  .mainTitle {
    display: inline-block;
  }
  .mainTitle:first-child {
    margin-right: 0.28em;
  }
  .mainTitle span {
    width: 4.7em;
    display: inline-block;
    text-align: left;
  }
}

@media (min-width: 2001px) {
  .mainTitle {
    font-size: 5.5rem;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
  }
}
@media (max-width: 2000px) {
  .mainTitle {
    font-size: 4rem;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
  }
}
@media (max-width: 768px) {
  .mainTitle {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
  }
  .socialIcons2 {
    margin-top: 0.2em;
  }
}
@media (max-width: 320px) {
  .mainTitle {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
  }
}
.mainTitleWrapper {
  padding-top: 18vh;
}
.mainTitle span {
  color: transparent;
  animation: blur 3s ease-out infinite;
  -webkit-animation: blur 3s ease-out infinite;
}
@keyframes blur {
  0%	{text-shadow:  0 0 100px #fff; opacity:0;}
  20%	{text-shadow:  0 0 90px #fff;}
  45%	{opacity: 1;}
  60%	{text-shadow:  0 0 0px #fff;}
  80%	{text-shadow:  0 0 0px #fff;}
  90%	{opacity: 1;}
  95%	{text-shadow:  0 0 90px #fff;}
  100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}
@-webkit-keyframes blur {
  0%	{text-shadow:  0 0 100px #fff; opacity:0;}
  20%	{text-shadow:  0 0 90px #fff;}
  45%	{opacity: 1;}
  60%	{text-shadow:  0 0 0px #fff;}
  80%	{text-shadow:  0 0 0px #fff;}
  90%	{opacity: 1;}
  95%	{text-shadow:  0 0 90px #fff;}
  100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}