.studioIntroText {
  min-height: 50vh;
  min-height: 50svh;
}
.menuItems {
  font-weight: 700;
  font-size: 1.5rem;
}

.textWrapper {
  margin: 3rem;
}
.textWrapper h1 {
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #f25a59;
}
.textWrapper p {
  font-size: 1.5rem;
  color: #000;
}
.imgColBg {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imgColBg .logo {
  position: absolute;
  top: 30%;
  width: 80px;
  height: 80px;
  right: -40px;
  z-index: 1;
}
.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.imgLeft {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.studios {
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.studios .logo {
  position: absolute;
  top: 1.5rem;
  width: 80px;
  height: 80px;
  right: 50%;
  right: calc(50% - 40px);
  z-index: 1;
}

.studioa .text {
  padding-top: 3rem;
  padding-left: 2rem;
  max-width: 30%;
}

@media (max-width: 768px) {  
  .imgColBg {
    height: 60svh;
  }
  .studioa .text {
    max-width: 100%;
    padding-top: 120px;
    padding-top: calc(3rem + 80px);
  }
  .imgColBg .logo {
    top: -40px;
    right: 50%;
    right: calc(50% - 40px);
  }
}

.studioentrance .text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 6rem;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color: rgba(0,0,0,0.5);
  width: 30%;
}
.studioentrance .text h2 {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .studioentrance .text {
    position: relative;
    width: 100%;
    padding: 2rem;
    padding-top: 120px;
    padding-top: calc(3rem + 80px);
  }
}
