.commonText {
  padding-top: 4em;
  padding-bottom: 4em;
}
.commonText h1{
  color: #000;
  margin-bottom: 2rem;
  text-align: center;
}
.commonText p {
  color: #000;
  text-align: center;
}

.studioa {
  position: relative;
  min-height: 80vh;
  min-height: 80svh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.studioa .logo {
  position: absolute;
  top: 1.5rem;
  width: 80px;
  height: 80px;
  right: 50%;
  right: calc(50% - 40px);
  z-index: 1;
}
.studioa .text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 2rem;
  padding-left: 2rem;
  font-size: 1.2em;
}
.studioa .text p {
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}







.studiosContainer {
  padding-left: 0;
  padding-right: 0;
}
.studios .studioColumn {
  position: relative;
}
.studios .studioWrapper {
  width: 100%;
  padding-top: 70%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  
}
.studios .studioWrapper .studio {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  
}
.studio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.studios .text {  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  color: #FFF;
}
.studios .text span {
  display: inline-block;
}
.studios .studio img {
  width: 100%;
}

@media (min-width: 768px) {
  .studioa .text {
    max-width: 70%;
  }
}
@media (min-width: 992px) {
  .studioa .text {
    max-width: 50%;
  }
  .studios .text {
    max-width: 80%;
  }
}
@media (min-width: 1200px) {
  .studioa .text {
    max-width: 40%;
  }
  .studios .text {
    max-width: 60%;
  }
}
@media (min-width: 1400px) {
  .studioa .text {
    max-width: 30%;
  }
/*   
  .studios .text {
    max-width: 60%;
  } */
}


@media (min-width: 992px) {
  .studios .studioColumn:first-child .studio {
    border-right: 1px solid #FFF;
  }
}
















@media (max-width: 768px) {  
}

.studioentrance .text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 6rem;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color: rgba(0,0,0,0.5);
  width: 30%;
}
.studioentrance .text h2 {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .studioentrance .text {
    position: relative;
    width: 100%;
    padding: 2rem;
    padding-top: 120px;
    padding-top: calc(3rem + 80px);
  }
}
