.wrapper {
  padding-top: 2rem;
  padding-bottom: 10rem;

  /* background-image: url('/services/services-background.jpg'); */
  background: rgb(9,9,121);
  background: linear-gradient(180deg, rgba(9,9,121,1) 0%, rgba(0,0,0,1) 55%);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
}

.wrapper h1 {
  margin-bottom: 5rem;
}

.studios {
  margin-top: 4rem;
}
.studios .image {
  position: relative;
}
.studios .studio {
  display: none;
}
.studios .studio.active {
  display: block;
}
.studios .image {
  margin-bottom: 1.5rem;
}
.studios .studioSelect {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
  padding-top: 1.5rem;
}
.studios .studioSelect a {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 3rem;
  font-weight: 700;
  color: #FFF;
}
.studios .image a:hover,
.studios .image a.active {
  border-bottom: 0.4rem solid #f15f60;
}
.studios .image img {
  width: 100%;
}