.wrapperTwoColumn {
  height: 100vh;
  height: 100svh;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 1fr 1fr;
}
.redbg {
  background-color: #f25a59;
}

.textWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 3rem;
}
.qrCodeWrapper {
  margin-bottom: 2rem;
}
.contact p {
  margin-bottom: 0.4rem;
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.imgLeft {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}


.TeamMember_blackbg {
  background-color: #000;
}
.TeamMember_blackbg .textWrapper {
  margin-top: 4rem;
  align-items: flex-start;
}
.TeamMember_blackbg .name {
  margin-bottom: 0;
  font-weight: 700;
}
.TeamMember_blackbg .position {
  margin-bottom: 1rem;
}
.TeamMember_blackbg .qrCodeWrapper {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

@media (max-width: 768px) {
  .wrapperTwoColumn {
    grid-template-columns: 1fr;
  }
}