.wrapperTwoColumn {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.redbg {
  background-color: #f25a59;
}
.whitebg h1 {
  color: #f25a59;
}
.whitebg p {
  color: #000;
}

.textWrapper {
  margin: 3rem;
}

.menuItems {
  font-weight: 700;
  font-size: 1.5rem;
}

.textWrapper h1 {
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.textWrapper p {
  font-size: 1.5rem;
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.imgLeft {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.imageWrapper .logo {
  position: absolute;
  top: 2rem;
  width: 80px;
  z-index: 1;
}

.imgColBg {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imgColBg .logo {
  position: absolute;
  top: 1.5rem;
  width: 80px;
  height: 80px;
  right: 50%;
  right: calc(50% - 40px);
  z-index: 1;
}


@media (max-width: 768px) {
  .wrapperTwoColumn {
    grid-template-columns: 1fr;
  }
  .menuItems {
    font-size: 1.2rem;
  }
  .imageWrapper {
    height: 65svh;
  }
  .imageWrapper .logo {
    top: -40px;
    left: 3rem;    
  }
  .textWrapper h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .imgColBg {
    height: 65svh;
  }
  .imgColBg .logo {
    top: -40px;
  }
  .redbg .imgColBg .logo {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
  }
}