.wrapperTwoColumn {
  min-height: 480px;
  /* height: 100vh;
  height: 100svh; */
  display: grid;
  column-gap: 15px;
  grid-template-columns: 1fr 1fr;
}
.redbg {
  background-color: #f25a59;
  min-height: 480px;
}
.redbg > div {
  position: relative;
}

.textCol {
  position: relative;
  display: flex;
}
.redbg .imgCol {
  padding-right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.textWrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin: 3rem;
}
.qrCodeWrapper {
  margin-bottom: 2rem;
}
.contact p {
  margin-bottom: 0.4rem;
}
.redbg .logo {
  position: absolute;
  top: 30%;
  width: 80px;
  height: 80px;
  right: -40px;
  z-index: 1;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 50%;
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.imgLeft {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}


.TeamMember_blackbg {
  background-color: #000;
  min-height: 480px;
}
.TeamMember_blackbg .textWrapper {
  margin-top: 4rem;
  align-items: flex-start;
}
.TeamMember_blackbg .name {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
}
.TeamMember_blackbg .position {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.TeamMember_blackbg .qrCodeWrapper {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

.TeamMember_blackbg .imgCol {
  position: relative;
}
.TeamMember_blackbg .imgCol .logo {
  position: absolute;
  top: 2rem;
  width: 80px;
  height: 80px;
  left: -30px;
  z-index: 1;
}
.TeamMember_blackbg .logo.right {
  left: auto;
  right: -30px;
}

@media (max-width: 768px) {
  .wrapperTwoColumn {
    grid-template-columns: 1fr;
  }
  .redbg .imgCol {
    min-height: 60vh;
    min-height: 60svh;
  }
  .imgCol {
    padding-left: 0;
  }
  .redbg .logo {
    top: auto;
    bottom: -20px;
    right: 50%;
    right: calc(50% - 40px);
  }

  .TeamMember_blackbg .imgCol .logo {
    top: 0;
    left: calc(15% - 40px);
  }
  .TeamMember_blackbg .logo.right {
    left: auto;
    right: calc(15% - 40px);
  }
}