.wrapper {
  padding-top: 2rem;
  padding-bottom: 10rem;

  background-image: url('/technology/technology-background.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
}

.wrapper h1 {
  margin-bottom: 5rem;
}