.wrapper {
  background-color: #000;
  min-height: 100vh;  
}
.close {
  color: #FFF;
  font-size: 3rem;
}
.menuText {
  margin-top: 2rem;
  color: #f15f60;
  text-transform: uppercase;
}

.menuEntries {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  height: 100%;  
  align-items: center;
}
.menuEntries a {
  color: #FFF;
  font-size: 5rem;
  font-weight: 700;
}
.menuEntries a.active,
.menuEntries a:hover {
  color: #f15f60;
}

/* Address */
.address .logo {
  max-width: 100%;
  margin-bottom: 2.5rem;
}
.address .name {
  font-size: 1.5rem;
  font-weight: 700;
}
.address p {
  margin-bottom: 0.5rem;
}
.address .phone {
  margin-top: 2rem;
}
.address .email {
  margin-top: 2rem;
}
.address .icons {
  margin-top: 3rem;
}
.address .icons svg {
  color: #FFF;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}
.address .icons svg:first-child {
  margin-left: 0;
}



@media only screen and (max-width: 768px) {
  .menuEntries a {
    font-size: 3rem;
  }
  .address .logo {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}