.wrapper {
  background-color: #000;
  min-height: 100vh;  
}
.wrapper h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.categoryMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}
.categoryMenu .category {
  background-color: #f7a4a6;
  color: #FFF;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}
.categoryMenu .category:hover,
.categoryMenu .category.active {
  background-color: #f15f60;
}
.categoryMenu .category img {
  max-height: 2rem;
  margin-right: 0.7rem;
}

.production {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.production img {
  width: 100%;
  border: 1px solid #262626;
}
.production h2 {
  margin-bottom: 2rem;
}


.caption {
  font-weight: 700;
}
.caption::after {
  content: ":";
  margin-right: 0.4rem;
}
.caption + span + .caption {
  margin-left: 0.8em;
}


@media only screen and (max-width: 768px) {
  .production h2 {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
  }
}